!!!
%html
  %head
    %title Cowobase
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    = stylesheet_link_tag :application, :media => "all"
    
    /[if lte IE 8]
      = stylesheet_link_tag "application-ie", :media => "all"
    
    = csrf_meta_tags

    /= render 'layouts/analytics'

  %body{class: "#{params[:controller]}_#{params[:action]}"}
    = render :partial => "shared/flash_messages", :locals => {:flash => flash}
    .container
      %header.navbar
        %nav.navbar-inner
          = link_to 'CowoBase', root_url, class: 'brand'
          = render 'layouts/navigation'


    #container.container
      #main{:role => "main"}
        = yield
      #push
    %footer{role: "sticky"}
      .container
        .row.footer
          .span12
            %ul.links
              %li
                Based on the 
                = link_to 'Coworfing', 'http://coworfing.com', :rel => :nofollow, :target => '_blank'
                project by 
                = link_to 'Nukomeet', 'http://nukomeet.com', :rel => :nofollow, :target => '_blank'

    = javascript_include_tag :application
    = yield(:javascript) if content_for?(:javascript)

